.header{
    background: linear-gradient(to right, #270129, #830088, #270129);
    padding: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header h1{
    color: rgb(214, 214, 212);
    font-size: 3em;
    font-weight: bold;
}